@import './colors'

header
  display: flex
  flex-direction: column
  margin: 0
  height: 100vh
  background: url(../img/background-ed.jpg) no-repeat center center fixed
  background-size: cover
  color: $white
  font-family: 'Noto Serif', serif
  a 
    margin: 0 auto
  .header 
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 95vh
    &__arrow-down
      width: 2.5em
      height: 2.5em
      margin: 0 auto
      position: relative
      animation: bouncearrow 2s infinite
    &__wrapper
      display: flex
      align-items: center
      justify-content: space-between
      padding: 3.125em
    &__menu
      display: flex
    &__block
      display: flex
      justify-content: center
    &__menu-nav
      display: flex
      align-items: center
      justify-content: center
      transition: 1s
      transform-origin: right center
      transform: scaleX(0) translateX(20%)
      opacity: 0
    &__link
      display: inline-block
      margin-right: 1.25em
      text-decoration: none
      color: $red
      font-size: 1.125em
    &__menu-nav_active
      display: flex
      align-items: center
      transform: scaleX(1) translateX(0%)
      opacity: 1
    &__menu-button
      display: flex
      flex-direction: column
      justify-content: space-around
    &__bento
      display: flex
      flex-direction: column
      justify-content: space-around
    &__wrraper_bento
      display: flex
      justify-content: space-around
      .dot
        top: 50%
        left: 50%
        width: 0.625em
        height: 0.625em
        background-color: $red
        border-radius: 0.625em
        margin: 0.1875em
    &__text
      display: flex
      flex-direction: column
      margin-bottom: 5em
      margin-left: 8.75em
      h1 
        margin-bottom: 0
        font-size: 6em
      p 
        margin-top: 0
        color: $red
        font-size: 1.5em
    &__media
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-end
      padding: 3.125em
      padding-left: 0
      padding-bottom: 1.625em
      p 
        font-size: 1em
        transform: rotate(-90deg)
        margin-bottom: 3em
        margin-left: 10px
    &__img
      display: flex
      justify-content: space-between
      width: 9.375em
      .icon-telegram, .icon-gmail, .icon-instagram
        font-size: 1.875em
        transition: 0.5s ease
        color: $white
      .icon-telegram:hover, .icon-gmail:hover, .icon-instagram:hover
        color: $red
        transform: scale(1.2)
        display: block
    @keyframes bouncearrow 
      0%
        top: 0
      50%
        top: 2.1875em
      100%
        top: 0

@media (min-width: 768px) and (max-width: 1023px)
  header
    .header  
      &__block
        width: 6.25em
      &__menu-nav 
        a 
          font-size: 0.625em 
      &__menu-nav_active  
        margin-right: 110px 
      &__text
        h1 
          font-size: 4em 
        p 
          font-size: 1.4em
      &__media
        padding: 1.5625em
        p 
          font-size: 0.9375em
      &__img
        .icon-telegram, .icon-gmail, .icon-instagram
          font-size: 1.75em

@media (min-width: 375px) and (max-width: 787px)
  header
    .header  
      &__wrapper
        padding: 2em
      &__block
        width: 6.25em
      &__menu-nav 
        a 
          font-size: 0.625em  
      &__menu-nav_active  
        margin-right: 110px  
      &__text
        margin-left: 5.5em
        margin-bottom: 7em
        h1 
          font-size: 3em 
        p 
          font-size: 1em
      &__media
        padding: 1em
        p 
          font-size: 0.9375em
          margin-left: -1em
      &__img
        .icon-telegram, .icon-gmail, .icon-instagram
          font-size: 1.75em
