@import './colors'

$circle_num-zero: -27%
$circle-1_percent: $circle_num-zero - 35%
$circle-2_percent: $circle_num-zero - 15%
$circle-3_percent: $circle_num-zero - 17%
$circle-4_percent: $circle_num-zero - 10%
$circle-5_percent: $circle_num-zero - 30%

@keyframes spin-circle-1
  0%
    transform: translateY(-25%) rotate(0deg)
  100%
    transform: translateY($circle-1_percent) rotate(400deg)
@keyframes spin-circle-2
  0%
    transform: translateY(-25%) rotate(0deg)
  100%
    transform: translateY($circle-2_percent) rotate(400deg)
@keyframes spin-circle-3
  0%
    transform: translateY(-25%) rotate(0deg)
  100%
    transform: translateY($circle-3_percent) rotate(400deg)
@keyframes spin-circle-4
  0%
    transform: translateY(-25%) rotate(0deg)
  100%
    transform: translateY($circle-4_percent) rotate(400deg)
@keyframes spin-circle-5
  0%
    transform: translateY(-25%) rotate(0deg)
  100%
    transform: translateY($circle-5_percent) rotate(500deg)

.skill 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  margin: 0
  height: 100vh
  background-color: $black
  font-family: 'Roboto', sans-serif
  color: $white
  &__ability
    display: flex
    flex-direction: column
    align-items: center
    h1 
      margin: 0
      font-size: 1.25em
      text-transform: uppercase
    p
      font-size: 0.75em
  &__circle
    display: flex
    justify-content: space-around
    width: 60%
  &__block
    text-align: center
    margin: 5%
    p
      font-size: 1.125em
  &__item
    display: flex
    justify-content: center
    align-items: flex-end
    background-color: $white
    border-radius: 50%
    width: 7.1875em
    height: 7.1875em
    overflow: hidden
    border: 0.25rem solid $black
  &__content
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    background-color: $red
    position: relative
    outline: 0
    overflow: hidden
    p 
      margin: 0
    span 
      color: $black
      font-size: 1.4375em
      width: 100%
      z-index: 1000
  &__content::before
    content: ""
    font-size: 1.25em
    width: 0.625em
    height: 115px
    display: flex
    align-items: center
    justify-content: center
  &__content::after
    content: ""
    position: absolute
    bottom: -50%
    left: -50%
    width: 200%
    height: 200%
    background-color: $white
    border-radius: 45%
    animation: spin-circle-1 5s ease-in-out forwards
    // &:nth-child(1)
    //   // &__item
    //     // &__content::after
    //   animation: spin-circle-1 5s ease-in-out forwards
    // &:nth-child(2)
    //   // &__item
    //     .skill__content::after
    //       animation: spin-circle-2 5s ease-in-out forwards
    // &:nth-child(3)
    //   .skill__item
    //     &__content::after
    //       animation: spin-circle-3 5s ease-in-out forwards
    // &:nth-child(4)
    //   .skill__item
    //     &__content::after
    //       animation: spin-circle-4 5s ease-in-out forwards
    // &:nth-child(5)
    //   .skill__item
    //     &__content::after
    //       animation: spin-circle-5 5s ease-in-out forwards

.skill
  h1 
    margin: 0
    font-size: 1.25em
    text-transform: uppercase   
  h2, p
    font-size: 0.75em
    font-family: 'Noto Serif', serif
  &__knowledge
    display: flex
    flex-direction: column
    align-items: center
  &__circle_knowledge
    display: flex
    justify-content: center
    align-items: baseline
    .circle 
      display: flex 
      justify-content: center 
      align-items: center 
      width: 5em
      height: 5em 
      background-color: $white 
      border-radius: 50% 
      margin: 0.1875em
      transition: 0.3s ease
      &:hover
        transform: scale(1.2)
      span 
        display: flex
        justify-content: center
        color: $black
        font-size: 0.9375em
      p 
        display: flex
        justify-content: center
        font-size: 0.9375em
        font-family: 'Roboto', sans-serif
      &:nth-child(1)
        width: 100px
        height: 100px
        background-color: $red
      &:nth-child(3)
        width: 90px
        height: 90px
        border: 10px solid $red 
      &:nth-child(6) 
        width: 120px
        height: 120px
      &:nth-child(8) 
        width: 70px
        height: 70px
        border: 10px solid $white
        background-color: $black
      &:nth-child(9)
        width: 130px
        height: 130px
      &:nth-child(10)
        width: 75px
        height: 75px 
      &:nth-child(5), &:nth-child(7), &:nth-child(9)
        background-color: $red
  &__certification
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
  &__item_certification
    button 
      width: 16.875em
      height: 2.5em
      background-color:#D63447
      border-radius: 15px
      border: none
      color: white
      font-size: 1em
      margin-top: 1.5em
      font-weight: 700
      transition: 0.5s ease
      &:hover
        // transform: scale(1.1)
        background-color: $white
        color: $red
  @media (max-width: $phone)
    .skill
      justify-content: center
      &__ability
        h1
          font-size: 0.875em
          margin-top: 0
        h2
          display: none
        p 
          font-size: 0.5em
      &__block
        margin: 1%
      &__item
        width: 3.125em
        height: 3.125em
      &__content
        height: 3.125em
        span 
          font-size: 0.625em
      &__content::before
        width: 0.3125em
      &__knowledge
        h1 
          font-size: 0.875em
          margin-top: 0
        p 
          font-size: 0.5em
      &__circle_knowledge
        flex-direction: column
        align-items: center
        .circle
          width: 1.875em
          height: 1.875em
          margin: 2px
          p 
            font-size: 0.5em
          span 
            font-size: 0.5em
          &:nth-child(1)
            width: 40px
            height: 40px
          &:nth-child(3)
            width: 35px
            height: 35px
            border: 5px solid $red 
          &:nth-child(6)
            width: 55px
            height: 55px
          &:nth-child(8)
            width: 25px
            height: 25px
            border: 7px solid $white
          &:nth-child(9)
            width: 55px
            height: 55px
          &:nth-child(10)
            width: 35px
            height: 35px     
      &__certification
        h1 
        font-size: 1em
  @media (max-width: $tablet) and (min-width: $phone)
    .skill
      justify-content: center
      &__ability
        h1
          font-size: 1em
          margin-bottom: 0.625em
        h2 
          display: none
        p 
          font-size: 0.5em
      &__block
        margin: 2%
      &__item
        width: 3.125em
        height: 3.125em
      &__content
        height: 3.125em
        span 
          font-size: 0.9375em
      &__content::before
        width: 0.3125em
      &__knowledge
        h1 
          font-size: 1em
          margin-bottom: 0.625em
        p 
          // display: none
          font-size: 0.5em
      &__circle_knowledge
        flex-direction: column
        align-items: center
        .circle
          width: 1.875em
          height: 1.875em
          margin: 0.125em
          p 
            font-size: 0.5em
          span 
            font-size: 0.375em
          &:nth-child(1)
            width: 40px
            height: 40px
          &:nth-child(3)
            width: 35px
            height: 35px
            border: 0.3125em solid $red 
          &:nth-child(6)
            width: 55px
            height: 55px
          &:nth-child(8)
            width: 25px
            height: 25px
            border: 0.4375em solid $white
          &:nth-child(9)
            width: 55px
            height: 55px
          &:nth-child(10)
            width: 35px
            height: 35px     
      &__certification
        h1 
          font-size: 1em
          margin-bottom: 0.625em
          margin-top: 0.625em
      &__item_certification
        button
          width: 12.5em
          height: 2.1875em
          margin: 0
  @media (max-width: $laptop) and (min-width: $tablet)
    &__ability
      h1
        font-size: 1.125em
      h2, p
        font-size: 0.625em
    &__block
      margin: 2%
    &__item
      width: 5em
      height: 5em
    &__content
      height: 5em
      span 
        font-size: 1.25em
    &__content::before
      width: 0.3125em
    &__knowledge
      h1 
        font-size: 1.125em
      p 
        // display: none
        font-size: 0.625em
    &__circle_knowledge
      align-items: center
      .circle
        margin: 0.125em
        p 
          font-size: 0.5em
        span 
          font-size: 0.5em
        &:nth-child(1)
          width: 60px
          height: 60px
        &:nth-child(2)
          height: 50px
          width: 50px
        &:nth-child(3)
          width: 75px
          height: 75px
          border: 0.4375em solid $red 
        &:nth-child(4)
          height: 40px
          width: 40px
        &:nth-child(5)
          height: 45px
          width: 45px
        &:nth-child(6)
          width: 75px
          height: 75px
        &:nth-child(7)
          width: 45px
          height: 45px
        &:nth-child(8)
          width: 45px
          height: 45px
          border: 0.5625em solid $white
        &:nth-child(9)
          width: 75px
          height: 75px
        &:nth-child(10)
          width: 55px
          height: 55px     
    &__certification
      h1 
        font-size: 1.125em